<h2>
  <%= link "Categories", to: Routes.category_path(@conn, :index) %> &gt;
  <%= @category.name %>
</h2>

<ul>
  <%= for recipe <- @category.recipes do %>
    <li>
      <%= link recipe.name, to: Routes.recipe_path(@conn, :show, recipe.slug) %>
    </li>
  <% end %>
</ul>
