Hi there!

Someone requested to reset the password for your Ressipy account. It hasn't been changed yet. If you'd like to reset it, you can do that by visiting the URL below:

<%= @url %>

If you didn't ask to reset your password, please let me know as soon as possible by replying to this email so that I can show those hackers what's up. 😠

Thanks,
Ressipy
